@{ Layout = null; }
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Formulário social | Cadastro feito com sucesso</title>
	<link rel="stylesheet" href="~/Content/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<div class="jumbotron"> 
			<h1>Obrigado!</h1>
			<p>Seu cadastro foi efetuado com sucesso.</p>
			<p><a class="btn btn-primary btn-lg" href="@Url.Action("Cadastro", "Pessoas")" role="button">Clique aqui para voltar</a></p>
		</div>
	</div>
</body>
</html>
